{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oficinas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Activa</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for oficina in oficinas %}
            <tr>
                <td><a href="{{ path('oficina_show', { 'id': oficina.id }) }}">{{ oficina.id }}</a></td>
                <td>{{ oficina.nombre }}</td>
                <td>{% if oficina.activa %}Yes{% else %}No{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('oficina_show', { 'id': oficina.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('oficina_edit', { 'id': oficina.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oficina_new') }}">Create a new oficina</a>
        </li>
    </ul>
{% endblock %}
