{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oficina</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ oficina.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ oficina.nombre }}</td>
            </tr>
            <tr>
                <th>Activa</th>
                <td>{% if oficina.activa %}Yes{% else %}No{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('oficina_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('oficina_edit', { 'id': oficina.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
