{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Data Table  -->
    <link href="{{ asset('bundles/app/plugins/data-table/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/plugins/data-table/css/buttons.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/plugins/data-table/css/responsive.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-6 col-sm-9 col-md-9 v-middle">
                            <i class="fa fa-sticky-note fa-3x f-left p-r-1 hidden-md-down hidden-lg-down"></i>
                            <h6 class="card-header-text">Solicitudes</h6>
                            <p class="hidden-xm-down hidden-sm-down">Listado de solicitudes </p>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a href="#" class="btn btn-default waves-effect waves-light v-middle f-right">
                                <i class="icofont icofont-refresh"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="advanced-table" class="table table-small-font table-bordered table-striped nowrap">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nombre Completo</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                    <th>Fecha</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="tr-buscar">
                                    <th></th>
                                    <th>Nombre Completo</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                    <th>Fecha</th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for solicitud in solicituds %}
                                <tr>
                                    <td class="v-middle action-icon text-center p-x-0   ">
                                        <a href="{{ path('solicitud_show', { 'id': solicitud.id }) }}" class="crm-action-edit"><i class="fa fa-envelope"></i></a>
                                    </td>
                                    <td class="v-middle">{{ solicitud.nombrecompleto }}</td>
                                    <td class="v-middle">{{ solicitud.telefono }}</td>
                                    <td class="v-middle">{{ solicitud.correo }}</td>
                                    <td class="v-middle">{{ solicitud.fecha | date('d/m/Y') }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <!-- Data Table Javascripts -->
    <script src="{{ asset('bundles/app/plugins/data-table/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/jszip.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/responsive.bootstrap4.min.js') }}"></script>

    <script src="{{ asset('bundles/app/pages/data-table.js') }}"></script>
{% endblock javascripts %}