{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        {{ form_start(edit_form) }}
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text">Cambio de contraseña</h5>
                    <p>Formulario de cambio de contraseña del usuario</p>
                </div>
                <div class="card-block menu-snaps">
                    <div class="form-group">
                        <label class="form-control-label">Nueva contraseña</label>
                        {{ form_widget(edit_form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Nueva contraseña'}}) }}
                        <small class="form-text text-muted">Dejar este spam para mensajes de info/error.</small>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Repetir nueva contraseña</label>
                        {{ form_widget(edit_form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Repetir nueva contraseña'}}) }}
                        <small class="form-text text-muted">Dejar este spam para mensajes de info/error.</small>
                    </div>
                    <div class="form-group" hidden>
                        <label class="form-control-label">Grupos</label>
                        {{ form_widget(edit_form.groups) }}
                        <small class="form-text text-muted">Dejar este spam para mensajes de info/error.</small>
                    </div>

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-30">Editar usuario</button>
                    <button type="reset" class="btn btn-default waves-effect waves-light m-r-30">Cancelar</button>
                    <a class="btn btn-default waves-effect waves-light m-r-30" href="{{ path('usuario_index') }}">Volver al listado</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text">DATOS DEL USUARIO</h5>
                </div>
                <div class="card-block menu-snaps">
                    <div class="media m-b-10">
                        <div class="media-body">
                            <div class="chat-header">Nombre completo</div>
                            <div class="text-muted social-designation">{{ edit_form.vars.value.nombrecompleto }}</div>
                        </div>
                    </div>
                    <div class="media m-b-10">
                        <div class="media-body">
                            <div class="chat-header">Usuario</div>
                            <div class="text-muted social-designation">{{ edit_form.vars.value.username }}</div>
                        </div>
                    </div>
                    <div class="media m-b-10">
                        <div class="media-body">
                            <div class="chat-header">Correo electrónico</div>
                            <div class="text-muted social-designation">{{ edit_form.vars.value.email }}</div>
                        </div>
                    </div>
                    <div class="media m-b-10">
                        <div class="media-body">
                            <div class="chat-header">Carné de identidad</div>
                            <div class="text-muted social-designation">{{ edit_form.vars.value.carneidentidad }}</div>
                        </div>
                    </div>
                    <div class="media m-b-10">
                        <div class="media-body">
                            <div class="chat-header">Grupos</div>
                            <div class="text-muted social-designation">
                                {% for groups in  edit_form.vars.value.groups %}
                                    <div class="text-muted social-designation">
                                        {{ groups }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="media m-b-10">
                        <div class="media-body">
                            <div class="chat-header">Estado</div>
                            <div class="text-muted social-designation">
                                {% if edit_form.vars.value.enabled %}
                                    <i class="icofont icofont-verification-check text-success"> </i>Habilitado
                                {% else %}
                                    <i class="icofont icofont-verification-check text-danger"> </i>Deshabilitado
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(edit_form) }}
    </div>
{% endblock content %}