{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Data Table Css -->
    <link href="{{ asset('bundles/app/plugins/data-table/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/plugins/data-table/css/buttons.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/plugins/data-table/css/responsive.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-6">
                            <h6 class="card-header-text">Usuarios del sistema</h6>
                            <p>Usuarios con permisos para entrar y operar en el sistema.</p>
                        </div>
                        <div class="col-md-6">
                            <a href="{{ path('usuario_new') }}" class="btn btn-primary waves-effect waves-light v-middle f-right"><i class="icofont icofont-plus m-r-5"></i> Nuevo Usuario</a>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <table id="simpletable" class="table dt-responsive table-striped table-bordered nowrap table-hover">
                        <thead>
                        <tr>
                            <th>Nombre completo</th>
                            <th>Usuario</th>
                            <th>Correo</th>
                            <th>Última entrada</th>
                            <th>Grupo(s)</th>
                            <th>Carné de identidad</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tfoot>
                        <tr>
                            <th>Nombre completo</th>
                            <th>Usuario</th>
                            <th>Correo</th>
                            <th>Última entrada</th>
                            <th>Grupo(s)</th>
                            <th>Carné de identidad</th>
                            <th>Estado</th>
                            <th></th>
                        </tr>
                        </tfoot>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.nombrecompleto }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email}}</td>
                                <td>{{ user.lastlogin | date }}</td>
                                <td>
                                    {% for group in user.groups %}
                                        {{ group.name }} <br>
                                    {% endfor %}
                                </td>
                                <td>{{ user.carneidentidad }}</td>
                                <td>
                                    {% if user.enabled %}
                                        <i class="icofont icofont-verification-check text-success"> </i>Habilitado
                                    {% else %}
                                        <i class="icofont icofont-verification-check text-danger"> </i>Deshabilitado
                                    {% endif %}
                                </td>
                                <td class="action-icon">
                                    <a href="{{ path('usuario_changepassword', { 'id': user.id }) }}" class="crm-action-edit"><i class="icofont icofont-ui-password"></i></a>
                                    <a href="{{ path('usuario_edit', { 'id': user.id }) }}" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                    <a href="{{ path('usuario_fastest_delete', { 'id': user.id }) }}" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <!-- Data Table Javascripts -->
    <script src="{{ asset('bundles/app/plugins/data-table/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/jszip.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/responsive.bootstrap4.min.js') }}"></script>

    <script src="{{ asset('bundles/app/pages/data-table.js') }}"></script>

{% endblock javascripts %}