{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Data Table -->
    <link href="{{ asset('bundles/app/plugins/data-table/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/plugins/data-table/css/buttons.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/plugins/data-table/css/responsive.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-xs-6 col-sm-9 col-md-9 v-middle">
                            <i class="fa fa-newspaper-o fa-3x f-left p-r-1 hidden-md-down hidden-lg-down"></i>
                            <h6 class="card-header-text">Ofertas</h6>
                            <p class="hidden-xm-down hidden-sm-down">Las ofertas activas se mostrarán en el portal como principales ofertas</p>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3">
                            <a href="{{ path('oferta_new') }}" class="btn btn-default waves-effect waves-light v-middle f-right">
                                <i class="icofont icofont-plus"></i> <span class="m-l-5 hidden-xs-down">Nueva Oferta</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-block">
                    <div class="table-responsive" data-pattern="priority-columns">
                        <table id="advanced-table" class="table table-small-font table-bordered table-striped nowrap">
                            <thead>
                                <tr>
                                    <th data-priority="1" width="50" class="hidden-print">Activa</th>
                                    <th data-priority="3">Título</th>
                                    <th data-priority="4" width="100">Fecha inicio</th>
                                    <th data-priority="5" width="100">Fecha fin</th>
                                    <th data-priority="1" width="100"></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr class="tr-buscar">
                                    <th class="hidden-print">Activa</th>
                                    <th>Título</th>
                                    <th>Fecha inicio</th>
                                    <th>Fecha fin</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                            {% for oferta in ofertas %}
                                <tr>
                                    <td class="text-center v-middle hidden-print">
                                        {% if oferta.activa %}
                                            <i class="fa fa-check-square-o text-plain"></i><div hidden>{{ oferta.activa }}</div>
                                        {% else %}
                                            <i class="text-danger"></i><div hidden>{{ oferta.activa }}</div>
                                        {% endif %}
                                    </td>
                                    <td class="v-middle">{% if oferta.activa %}<strong> {% endif %}{{ oferta.titulo }}{% if oferta.activa %}</strong> {% endif %}</td>
                                    <td class="v-middle">{{ oferta.fechainicio | date('d/m/Y') }}</td>
                                    <td class="v-middle">{{ oferta.fechafin | date('d/m/Y') }}</td>
                                    <td class="v-middle action-icon text-center">
                                        <a href="{{ path('oferta_show', { 'id': oferta.id }) }}" class="crm-action-edit"><i class="icofont icofont-ui-v-card"></i></a>
                                        <a hidden href="{{ path('oferta_edit', { 'id': oferta.id }) }}" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                        <a href="{{ path('oferta_fastest_delete', { 'id': oferta.id }) }}" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}

    <!-- Data Table Javascripts -->
    <script src="{{ asset('bundles/app/plugins/data-table/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/jszip.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/pdfmake.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/vfs_fonts.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/buttons.print.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('bundles/app/plugins/data-table/js/responsive.bootstrap4.min.js') }}"></script>

    <script src="{{ asset('bundles/app/pages/data-table.js') }}"></script>
{% endblock javascripts %}