{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text">Añadir nueva Oferta</h5>
                    <p>Formulario de adición de ofertas.</p>
                </div>
                <div class="card-block menu-snaps">
                    <div class="form-group">
                        <label class="form-control-label">Título</label>
                        {{ form_widget(form.titulo, {'attr': {'class': 'form-control', 'placeholder': 'Título de la oferta'}}) }}
                        <small class="form-text text-muted">Dejar este spam para mensajes de info/error.</small>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Descripción</label>
                        {{ form_widget(form.descripcion, {'attr': {'class': 'form-control', 'placeholder': 'Descripción de la oferta'}}) }}
                        <small class="form-text text-muted">Dejar este spam para mensajes de info/error.</small>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 ">
                            <div class="form-group">
                                <label class="form-control-label">Fecha de Inicio</label>
                                <div class="form-control-wrapper">
                                    {{ form_widget(form.fechainicio, {'attr': {'class': 'form-control floating-label date-start-ofertas', 'placeholder': 'Seleccione'}}) }}
                                </div>
                                <small class="form-text text-muted">Fecha de inicio de la oferta.</small>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 ">
                            <div class="form-group">
                                <label class="form-control-label">Fecha de terminación</label>
                                <div class="form-control-wrapper">
                                    {{ form_widget(form.fechafin, {'attr': {'class': 'form-control floating-label date-end-ofertas' , 'placeholder': 'Seleccione'}}) }}
                                </div>
                                <small class="form-text text-muted">Fecha de terminación de la oferta.</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6 ">
                            <div class="form-group">
                                <label class="form-control-label">Estado de la Oferta</label><br>
                                <div class="checkbox-color checkbox-info p-l-5">
                                    {{ form_widget(form.activa) }}
                                    <label class="form-control-label" for="appbundle_oferta_activa"> Activa</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 ">
                            <div class="form-group">
                                <label class="form-control-label">Imagen</label><br>
                                {{ form_widget(form.imagen, {'attr': {'class': 'form-control form-file'}}) }}
                                <a href="#clickme" class="btn btn-default btn-sm col-md-12">
                                    <i class="fa fa-file-image-o"></i> Click para seleccionar una imagen
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Detalles</label>
                        {{ form_widget(form.detalles, {'attr': {'class': 'form-control', 'placeholder': 'Detalles de la oferta'}}) }}
                        <small class="form-text text-muted">Dejar este spam para mensajes de info/error.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text"> </h5>
                    <p> Vista previa de la imagen</p>
                </div>
                <div class="card-block text-center">
                    <div class="form-group">
                        <img class="mime-car img-thumbnail" hidden src="" alt="Imagen">
                    </div>
                </div>
                <div class="widget-income-footer">
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-30">Añadir oferta</button>
                    <button type="reset" class="btn btn-default waves-effect waves-light m-r-30">Cancelar</button>
                    <a class="btn btn-default waves-effect waves-light m-r-30" href="{{ path('oferta_index') }}">Volver al listado</a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function () {
           $('a[href="#clickme"]').on('click', function () {
               $('body').find('input[id$="_oferta_imagen"]').trigger('click').change(function (event) {
                   $('body').find('img.mime-car').attr('src', '').attr('hidden', 1);
                   var tmppath = URL.createObjectURL(event.target.files[0]);
                   $('body').find('img.mime-car').attr('src', tmppath).removeAttr('hidden');
               });
           });
        });
    </script>
{% endblock %}