{% extends "landing.html.twig" %}

{% block content %}
    <div class="carousel-height">
        <div class="container-carousel hidden-sm-down" style="position: fixed; z-index: -9999">
            <div class="row">
                <div class="col-md-12">
                    <div id="bs4-carousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item">
                                <img src="{{ asset('bundles/app/images/believecuba/carousel/disneyworld.jpg') }}"
                                     alt="Second slide" class="img-full">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('bundles/app/images/believecuba/carousel/paris.jpg') }}"
                                     alt="Third slide" class="img-full">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('bundles/app/images/believecuba/carousel/cuidadluces.jpg') }}"
                                     alt="Fourth slide" class="img-full">
                            </div>
                            <div class="carousel-item active">
                                <img src="{{ asset('bundles/app/images/believecuba/carousel/logo_carousel.jpg') }}"
                                     alt="First slide" class="img-full">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="hidden-md-up sm-carousel" style="position: fixed; z-index: -9999">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{{ asset('bundles/app/images/believecuba/carousel/logo_carousel-sm.jpg') }}" class="img">
                </div>
            </div>
        </div>

    <div class="container reservas">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="card-block tab-icon tab-with-img">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs md-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">
                                <div class="hidden-sm-down">
                                    <i class="fa fa-car"></i>
                                    Autos
                                </div>
                                <div class="hidden-md-up">
                                    <i class="fa fa-car fa-2x"></i>
                                </div>
                            </a>

                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab2" role="tab">
                                <div class="hidden-sm-down">
                                    <i class="fa fa-hotel"></i>
                                    Hoteles
                                </div>
                                <div class="hidden-md-up">
                                    <i class="fa fa-hotel fa-2x"></i>
                                </div>
                            </a>

                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab3" role="tab">
                                <div class="hidden-sm-down">
                                    <i class="fa fa-location-arrow"></i>
                                    Circuitos
                                </div>
                                <div class="hidden-md-up">
                                    <i class="fa fa-location-arrow fa-2x"></i>
                                </div>
                            </a>

                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab4" role="tab">
                                <div class="hidden-sm-down">
                                    <i class="fa fa-plane"></i>
                                    Vuelos
                                </div>
                                <div class="hidden-md-up">
                                    <i class="fa fa-plane fa-2x"></i>
                                </div>
                            </a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab5" role="tab">
                                <div class="hidden-sm-down">
                                    <i class="fa fa-bus"></i>
                                    Traslados
                                </div>
                                <div class="hidden-md-up">
                                    <i class="fa fa-bus fa-2x"></i>
                                </div>
                            </a>
                            <div class="slide"></div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab6" role="tab">
                                <div class="hidden-sm-down">
                                    <i class="fa fa-map-signs"></i>
                                    Actividades
                                </div>
                                <div class="hidden-md-up">
                                    <i class="fa fa-map-signs fa-2x"></i>
                                </div>
                            </a>
                            <div class="slide"></div>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1" role="tabpanel">
                            <div class="row m-b-30 advance-elements">
                                <div class="col-md-12">
                                    <div class="sub-title sub-title-light"><i class="fa fa-car"></i> Renta de Autos</div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-building"></i> Lugar de Recogida</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Destino</option>
                                        <option value="AL">La Habana</option>
                                        <option value="WY">Santiago</option>
                                        <option value="WY">Varadero</option>
                                        <option value="WY">Trinidad</option>
                                        <option value="WY">Viñales</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-building"></i> Oficina de Recogida</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Entrega</option>
                                        <option value="AL">La Habana</option>
                                        <option value="WY">Santiago</option>
                                        <option value="WY">Varadero</option>
                                        <option value="WY">Trinidad</option>
                                        <option value="WY">Viñales</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-calendar"></i> Fecha de Recogida</div>
                                    <div class="form-control-wrapper">
                                        <input type="text" id="date-start-autos" class="form-control floating-label" placeholder="Recogida">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-calendar-check-o"></i> Fecha de Regreso</div>
                                    <div class="form-control-wrapper">
                                        <input type="text" id="date-end-autos" class="form-control floating-label" placeholder="Regreso">
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b-30 advance-elements">
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light">
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input value=".economico" id="categoria1" type="checkbox" name="difflocation">
                                            <label for="categoria1" class="txt-white">
                                                Distinto lugar de Regreso
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b-30 advance-elements returnfields">
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-building"></i> Lugar de Regreso</div>
                                    <select class="js-example-basic-single">
                                        <option value="AL">La Habana</option>
                                        <option value="WY">Santiago</option>
                                        <option value="WY">Varadero</option>
                                        <option value="WY">Trinidad</option>
                                        <option value="WY">Viñales</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-building"></i> Oficina de Regreso</div>
                                    <select class="js-example-basic-single">
                                        <option value="AL">La Habana</option>
                                        <option value="WY">Santiago</option>
                                        <option value="WY">Varadero</option>
                                        <option value="WY">Trinidad</option>
                                        <option value="WY">Viñales</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <div class="sub-title sub-title-light"></div>
                                    <a href="{{ path('offers') }}" class="btn btn-default waves-effect waves-light"><i class="fa fa-check"></i> Seleccionar un Auto</a>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab2" role="tabpanel">
                            <div class="row m-b-30 advance-elements">
                                <div class="col-md-12">
                                    <div class="sub-title sub-title-light"><i class="fa fa-hotel"></i> Reservación de Hotel</div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-building"></i> Ciudad de Destino</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Destino</option>
                                        <option value="AL">La Habana</option>
                                        <option value="WY">Santiago</option>
                                        <option value="WY">Varadero</option>
                                        <option value="WY">Trinidad</option>
                                        <option value="WY">Viñales</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-credit-card"></i> País de residencia</div>
                                    <select class="js-example-basic-single">
                                        <option value="">País</option>
                                        <option value="AL">Canada</option>
                                        <option value="WY">Estados Unidos</option>
                                        <option value="WY">Mexico</option>
                                        <option value="WY">España</option>
                                        <option value="WY">Rusia</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-calendar"></i> Fecha de llegada</div>
                                    <div class="form-control-wrapper">
                                        <input type="text" id="date-start-hoteles" class="form-control floating-label" placeholder="Llegada">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-calendar-check-o"></i> Fecha de salida</div>
                                    <div class="form-control-wrapper">
                                        <input type="text" id="date-end-hoteles" class="form-control floating-label" placeholder="Salida">
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b-30 advance-elements">
                                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-bed"></i> Habitaciones</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Cantidad</option>
                                        <option value="AL">1</option>
                                        <option value="WY">2</option>
                                        <option value="WY">3</option>
                                        <option value="WY">4</option>
                                        <option value="WY">5</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-male"></i> Adultos</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Adultos</option>
                                        <option value="AL">1</option>
                                        <option value="WY">2</option>
                                        <option value="WY">3</option>
                                        <option value="WY">4</option>
                                        <option value="WY">5</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-child"></i> Niños</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Niños</option>
                                        <option value="AL">1</option>
                                        <option value="WY">2</option>
                                        <option value="WY">3</option>
                                        <option value="WY">4</option>
                                        <option value="WY">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <div class="sub-title sub-title-light"></div>
                                    <button type="button" class="btn btn-default waves-effect waves-light"><i class="fa fa-check"></i> Reservar Hotel</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab3" role="tabpanel">
                            <div class="row m-b-30 advance-elements">
                                <div class="col-md-12">
                                    <div class="sub-title sub-title-light"><i class="fa fa-location-arrow"></i> Circuitos</div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-building"></i> Ciudad de Destino</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Destino</option>
                                        <option value="AL">La Habana</option>
                                        <option value="WY">Santiago</option>
                                        <option value="WY">Varadero</option>
                                        <option value="WY">Trinidad</option>
                                        <option value="WY">Viñales</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-credit-card"></i> País de residencia</div>
                                    <select class="js-example-basic-single">
                                        <option value="">País</option>
                                        <option value="AL">Canada</option>
                                        <option value="WY">Estados Unidos</option>
                                        <option value="WY">Mexico</option>
                                        <option value="WY">España</option>
                                        <option value="WY">Rusia</option>
                                    </select>
                                </div>
                                <div class="col-sm-2 col-md-2 col-lg-2 product-detail" id="product-detail">
                                    <div class="sub-title sub-title-light"><i class="fa fa-credit-card"></i> Destino</div>
                                    <select class="js-example-basic-single">
                                        <option value="">País</option>
                                        <option value="AL">Canada</option>
                                        <option value="WY">Estados Unidos</option>
                                        <option value="WY">Mexico</option>
                                        <option value="WY">España</option>
                                        <option value="WY">Rusia</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <div class="sub-title sub-title-light"></div>
                                    <button type="button" class="btn btn-default waves-effect waves-light"><i class="fa fa-check"></i> Reservar Hotel</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab4" role="tabpanel">
                            <div class="row m-b-30 advance-elements">
                                <div class="col-md-12">
                                    <div class="sub-title sub-title-light"><i class="fa fa-plane"></i> Vuelos</div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-building"></i> Desde</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Destino</option>
                                        <option value="AL">La Habana</option>
                                        <option value="WY">Santiago</option>
                                        <option value="WY">Varadero</option>
                                        <option value="WY">Trinidad</option>
                                        <option value="WY">Viñales</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-credit-card"></i> Hasta</div>
                                    <select class="js-example-basic-single">
                                        <option value="">País</option>
                                        <option value="AL">Canada</option>
                                        <option value="WY">Estados Unidos</option>
                                        <option value="WY">Mexico</option>
                                        <option value="WY">España</option>
                                        <option value="WY">Rusia</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-calendar"></i> Fecha de salida</div>
                                    <div class="form-control-wrapper">
                                        <input type="text" id="date-start-vuelos" class="form-control floating-label" placeholder="Llegada">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-calendar-check-o"></i> Fecha de regreso</div>
                                    <div class="form-control-wrapper">
                                        <input type="text" id="date-end-vuelos" class="form-control floating-label" placeholder="Regreso">
                                    </div>
                                </div>
                            </div>
                            <div class="row m-b-30 advance-elements">
                                <div class="col-sm-6 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-user"></i> Adutos</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Adultos</option>
                                        <option value="AL">1</option>
                                        <option value="WY">2</option>
                                        <option value="WY">3</option>
                                        <option value="WY">4</option>
                                        <option value="WY">5</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-child"></i> Niños</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Niños<option>
                                        <option value="AL">1</option>
                                        <option value="WY">2</option>
                                        <option value="WY">3</option>
                                        <option value="WY">4</option>
                                        <option value="WY">5</option>
                                        <option value="WY">6</option>
                                        <option value="WY">7</option>
                                        <option value="WY">8</option>
                                        <option value="WY">9</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-plane"></i>Aerolinea</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Aerolinea<option>
                                        <option value="AL">Cubana</option>
                                        <option value="WY">Avianca</option>
                                        <option value="WY">France Airlines</option>
                                        <option value="WY">Fly Emirates</option>
                                        <option value="WY">Wewe</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-plane"></i>Clase</div>
                                    <select class="js-example-basic-single">
                                        <option value="">1ra clase<option>
                                        <option value="AL">2da clase</option>
                                        <option value="WY">3ra clase</option>
                                        Wewe</option>
                                    </select>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <div class="sub-title sub-title-light"></div>
                                    <button type="button" class="btn btn-default waves-effect waves-light"><i class="fa fa-check"></i> Reservar Vuelo</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab5" role="tabpanel">
                            <div class="row m-b-30 advance-elements">
                                <div class="col-md-12">
                                    <div class="sub-title sub-title-light"><i class="fa fa-bus"></i> Traslados</div>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4">
                                    <div class="sub-title sub-title-light"><i class="fa fa-building"></i> Ciudad</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Ciudad</option>
                                        <option value="AL">La Habana</option>
                                        <option value="WY">Santiago</option>
                                        <option value="WY">Varadero</option>
                                        <option value="WY">Trinidad</option>
                                        <option value="WY">Viñales</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-chevron-up"></i> Recojo</div>
                                    <select class="js-example-basic-single">
                                        <option value="AL">Aeropuerto</option>
                                        <option value="WY">Hotel</option>
                                        <option value="WY">Puerto</option>
                                        <option value="WY">Estacion</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-search"></i> Buscar</div>
                                    <select class="js-example-basic-single">
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-chevron-down"></i> Dejar en</div>
                                    <select class="js-example-basic-single">
                                        <option value="AL">Aeropuerto</option>
                                        <option value="WY">Hotel</option>
                                        <option value="WY">Puerto</option>
                                        <option value="WY">Estacion</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-search"></i> Buscar</div>
                                    <select class="js-example-basic-single">
                                    </select>
                                </div>
                            </div>
                            <div class="row m-b-30 advance-elements">
                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-calendar"></i> Fecha de servicio</div>
                                    <div class="form-control-wrapper">
                                        <input type="text" id="date-servicio" class="form-control floating-label" placeholder="Fecha">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-clock-o"></i> Hora de vuelo</div>
                                    <div class="form-control-wrapper">
                                        <input type="text" id="time-vuelo" class="form-control floating-label" placeholder="Hora">
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-credit-card"></i> Pais de residencia</div>
                                    <select class="js-example-basic-single">
                                        <option value="">País</option>
                                        <option value="AL">Canada</option>
                                        <option value="WY">Estados Unidos</option>
                                        <option value="WY">Mexico</option>
                                        <option value="WY">España</option>
                                        <option value="WY">Rusia</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-male"></i> Adultos</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Adultos</option>
                                        <option value="AL">1</option>
                                        <option value="WY">2</option>
                                        <option value="WY">3</option>
                                        <option value="WY">4</option>
                                        <option value="WY">5</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-3 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-child"></i> Niños</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Niños</option>
                                        <option value="AL">1</option>
                                        <option value="WY">2</option>
                                        <option value="WY">3</option>
                                        <option value="WY">4</option>
                                        <option value="WY">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <div class="sub-title sub-title-light"></div>
                                    <button type="button" class="btn btn-default waves-effect waves-light"><i class="fa fa-check"></i> Reservar Traslado</button>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab6" role="tabpanel">
                            <div class="row m-b-30 advance-elements">
                                <div class="col-md-12">
                                    <div class="sub-title sub-title-light"><i class="fa fa-map-signs"></i> Actividades</div>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-building"></i> Ciudad de Destino</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Destino</option>
                                        <option value="AL">La Habana</option>
                                        <option value="WY">Santiago</option>
                                        <option value="WY">Varadero</option>
                                        <option value="WY">Trinidad</option>
                                        <option value="WY">Viñales</option>
                                    </select>
                                </div>
                                <div class="col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-credit-card"></i> País de residencia</div>
                                    <select class="js-example-basic-single">
                                        <option value="">País</option>
                                        <option value="AL">Canada</option>
                                        <option value="WY">Estados Unidos</option>
                                        <option value="WY">Mexico</option>
                                        <option value="WY">España</option>
                                        <option value="WY">Rusia</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-calendar"></i> Fecha de llegada</div>
                                    <div class="form-control-wrapper">
                                        <input type="text" id="date-start-actividades" class="form-control floating-label" placeholder="Llegada">
                                    </div>
                                </div>
                                <div class="col-xs-6 col-md-3 col-lg-3">
                                    <div class="sub-title sub-title-light"><i class="fa fa-calendar-check-o"></i> Fecha de salida</div>
                                    <div class="form-control-wrapper">
                                        <input type="text" id="date-end-actividades" class="form-control floating-label" placeholder="Salida">
                                    </div>
                                </div>

                            </div>
                            <div class="row m-b-30 advance-elements">
                                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-male"></i> Adultos</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Adultos</option>
                                        <option value="AL">1</option>
                                        <option value="WY">2</option>
                                        <option value="WY">3</option>
                                        <option value="WY">4</option>
                                        <option value="WY">5</option>
                                    </select>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                                    <div class="sub-title sub-title-light"><i class="fa fa-child"></i> Niños</div>
                                    <select class="js-example-basic-single">
                                        <option value="">Niños</option>
                                        <option value="AL">1</option>
                                        <option value="WY">2</option>
                                        <option value="WY">3</option>
                                        <option value="WY">4</option>
                                        <option value="WY">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <div class="sub-title sub-title-light"></div>
                                    <button type="button" class="btn btn-default waves-effect waves-light"><i class="fa fa-check"></i> Reservar Actividad</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <section style="background: #fff;">
    <div class="container-fluid light-bg">
        <div class="row">
            <div class="col-md-12">
                <div class="row text-center">
                    <div class="title">
                        <h2 class="title-center" id="palante">Principales ofertas</h2>
                    </div>
                </div>

                <div class="slider-center bg-white" id="todaydeals">
                    {% for oferta in ofertas %}
                    <div class="item">
                        <div class="blog-img">
                            <img class="img-fluid "
                                 src="{{ asset(photos_directory~oferta.imagen) }}"
                                 alt="blog-img">
                            <div class="blog-hover-detail d-flex">
                                <div class="m-x-auto text-center">
                                    <div class="card-block text-center">
                                        <button type="button" class="btn btn-inverse-warning waves-effect md-trigger" data-modal="modal-{{ oferta.id }}">Detalles</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blog-details">
                            <h6>{{ oferta.titulo }}</h6>
                            <p> {{ oferta.descripcion }} </p>
                            <div class="text-right">
                                <a href="{{ path('solicitud_new', { 'id': oferta.id }) }}" class="btn btn-warning waves-effect waves-light">Book now</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% for oferta in ofertas %}
                    <!-- Modal section-->
                    <div class="md-modal md-effect-1" id="modal-{{ oferta.id }}">
                        <div class="md-content">
                            <h3>Detalles de la oferta</h3>
                            <div>
                                <p>{{ oferta.detalles }}</p>
                                <button type="button" class="btn btn-default waves-effect md-close">Cerrar</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!-- end of slider-center -->
            </div>
        </div>
    </div>
    </section>

    <section>
        <div class="container-fluid color-bg">
            <div class="row">
                <div class="col-sm-12 offers">
                    <div class="row text-center">
                        <div class="title">
                            <h2 class="title-center-inverse">Destinos populares</h2>
                        </div>
                    </div>
                    <div class="slider-center" id="todaysdestinations">
                        <div class="item">
                            <div class="blog-img">
                                <img class="img-fluid "
                                     src="{{ asset('bundles/app/images/believecuba/destinos/cancun.jpg') }}"
                                     alt="blog-img">
                                <div class="blog-hover-detail d-flex">
                                    <div class="m-x-auto text-center">
                                        <div class="card-block text-center">
                                            <a href="#"
                                               class="btn btn-warning waves-effect waves-light">
                                                Detalles
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details bg-white">
                                <h6>Trámites Migratorios</h6>
                                <div class="date-blog m-b-10"><span><i class="fa fa-times"></i> Duración Variable</span><span><i
                                                class="fa fa-money"></i> Precio Variable</span></div>
                                <p> Gestionamos los trámites migratorios necesarios en la organización de su viaje. </p>
                                <div class="text-right">
                                    <a href="#" class="btn btn-warning waves-effect waves-light">Book now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-img">
                                <img class="img-fluid "
                                     src="{{ asset('bundles/app/images/believecuba/destinos/Madrid.jpg') }}"
                                     alt="blog-img">
                                <div class="blog-hover-detail d-flex">
                                    <div class="m-x-auto text-center">
                                        <div class="card-block text-center">
                                            <a href="#"
                                               class="btn btn-warning waves-effect waves-light">
                                                Detalles
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details">
                                <h6>Paquetes Vacacionales</h6>
                                <div class="date-blog m-b-10"><span><i class="fa fa-times"></i> Duración 30 Minutos</span><span><i
                                                class="fa fa-money"></i> Precio Variable</span></div>
                                <p> Creamos el paquete vacacional perfecto para cada cliente, comparando precios de hoteles,
                                    vuelos, excursiones, shows y eventos para hacer de sus vacaciones una aventura
                                    inolvidable.</p>
                                <div class="text-right">
                                    <a href="#" class="btn btn-warning waves-effect waves-light">Book now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-img">
                                <img class="img-fluid "
                                     src="{{ asset('bundles/app/images/believecuba/destinos/dubai.jpg') }}"
                                     alt="blog-img">
                                <div class="blog-hover-detail d-flex">
                                    <div class="m-x-auto text-center">
                                        <div class="card-block text-center">
                                            <a href="#"
                                               class="btn btn-warning waves-effect waves-light">
                                                Detalles
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details">
                                <h6>Renta de Autos</h6>
                                <div class="date-blog m-b-10"><span><i class="fa fa-times"></i> Duración 30 Minutos</span><span><i
                                                class="fa fa-money"></i> Precio Variable</span></div>
                                <p> Ofrecemos renta en todas las categorías.</p>
                                <div class="text-right">
                                    <a href="#" class="btn btn-warning waves-effect waves-light">Book now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-img">
                                <img class="img-fluid "
                                     src="{{ asset('bundles/app/images/believecuba/destinos/havana.jpg') }}"
                                     alt="blog-img">
                                <div class="blog-hover-detail d-flex">
                                    <div class="m-x-auto text-center">
                                        <div class="card-block text-center">
                                            <a href="#"
                                               class="btn btn-warning waves-effect waves-light">
                                                Detalles
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details">
                                <h6>Hoteles</h6>
                                <div class="date-blog m-b-10"><span><i class="fa fa-times"></i> Duración 30 Minutos</span><span><i
                                                class="fa fa-money"></i> Precio Variable</span></div>
                                <p> Brindamos reservas de Hoteles con grandes descuentos en más de 120.000 destinos en todo
                                    el mundo.</p>
                                <div class="text-right">
                                    <a href="#" class="btn btn-warning waves-effect waves-light">Book now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-img">
                                <img class="img-fluid "
                                     src="{{ asset('bundles/app/images/believecuba/destinos/lasvegas.jpg') }}"
                                     alt="blog-img">
                                <div class="blog-hover-detail d-flex">
                                    <div class="m-x-auto text-center">
                                        <div class="card-block text-center">
                                            <a href="#"
                                               class="btn btn-warning waves-effect waves-light">
                                                Detalles
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details">
                                <h6>Vuelos</h6>
                                <div class="date-blog m-b-10"><span><i class="fa fa-times"></i> Duración 30 Minutos</span><span><i
                                                class="fa fa-money"></i> Precio Variable</span></div>
                                <p> Reservas de boletos aéreos para vuelos nacionales e internacionales.</p>
                                <div class="text-right">
                                    <a href="#" class="btn btn-warning waves-effect waves-light">Book now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of slider-center -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
    </section>
{% endblock content %}
