{% extends "landing.html.twig" %}

{% block content %}

    <!-- Nav-bar Start -->
    <nav class="navbar navbar-sticky-top navbar-light bg-facebook" data-spy="affix" data-offset-top="197">

        <div class="container">
            <div class="" id="">
                <ul class="nav navbar-nav pull-left" style="float:left;">
                    <li class="nav-item">
                        <a class="nav-link nav-link:hover" href="{{ path('landingpage') }}">
                            <i class="icofont icofont-arrow-left"></i>Ir a Inicio
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <!-- Nav-bar Ends -->

    <section class="section-tb">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12">
                    <div class="port_details_all_img">
                        <div class="col-lg-12">
                            <div id="big_banner">
                                <div class="port_big_img">
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/301.jpg') }}"
                                         alt="Big_ Details">
                                </div>
                                <div class="port_big_img">
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/508.jpg') }}"
                                         alt="Big_ Details">
                                </div>
                                <div class="port_big_img">
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/2008.jpg') }}"
                                         alt="Big_ Details">
                                </div>
                                <div class="port_big_img">
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/Sandero.jpg') }}"
                                         alt="Big_ Details">
                                </div>
                                <div class="port_big_img">
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/expert_tepee.jpg') }}"
                                         alt="Big_ Details">
                                </div>
                                <div class="port_big_img">
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/Mercedes_c_200.jpg') }}"
                                         alt="Big_ Details">
                                </div>
                                <div class="port_big_img">
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/Picanto.jpg') }}"
                                         alt="Big_ Details">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 product-right">
                            <div id="small_banner">
                                <div>
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/301.jpg') }}"
                                         alt="small-details">
                                </div>
                                <div>
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/508.jpg') }}"
                                         alt="small-details">
                                </div>
                                <div>
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/2008.jpg') }}"
                                         alt="small-details">
                                </div>
                                <div>
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/Sandero.jpg') }}"
                                         alt="small-details">
                                </div>
                                <div>
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/expert_tepee.jpg') }}"
                                         alt="small-details">
                                </div>
                                <div>
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/Mercedes_c_200.jpg') }}"
                                         alt="small-details">
                                </div>
                                <div>
                                    <img class="img img-fluid"
                                         src="{{ asset('bundles/app/images/believecuba/autos/Picanto.jpg') }}"
                                         alt="small-details">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-12">
                    <div class="row m-b-30 advance-elements">
                        <div class="col-md-6 col-lg-6">
                            <div class="sub-title">Category</div>
                            <select class="js-example-basic-single">
                                <option value="AL">Automatic</option>
                                <option value="WY">Static</option>
                                <option value="WY">Dinamic</option>
                                <option value="WY">Mecanic</option>
                                <option value="WY">Any</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m-b-30 advance-elements">
                        <div class="col-md-6 col-lg-6">
                            <div class="sub-title">Pickup Location</div>
                            <select class="js-example-basic-single">
                                <option value="AL">La Habana</option>
                                <option value="WY">Santiago</option>
                                <option value="WY">Varadero</option>
                                <option value="WY">Trinidad</option>
                                <option value="WY">Viñales</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="sub-title">Pick up Rental Office</div>
                            <select class="js-example-basic-single">
                                <option value="AL">Terminal 1</option>
                                <option value="WY">Terminal 2</option>
                                <option value="WY">Terminal 3</option>
                                <option value="WY">Terminal 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m-b-30 advance-elements">
                        <div class="col-md-6 col-lg-6">
                            <div class="sub-title">Return Location</div>
                            <select class="js-example-basic-single">
                                <option value="AL">La Habana</option>
                                <option value="WY">Santiago</option>
                                <option value="WY">Varadero</option>
                                <option value="WY">Trinidad</option>
                                <option value="WY">Viñales</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="sub-title">Return Rental Office</div>
                            <select class="js-example-basic-single">
                                <option value="AL">Terminal 1</option>
                                <option value="WY">Terminal 2</option>
                                <option value="WY">Terminal 3</option>
                                <option value="WY">Terminal 4</option>
                            </select>
                        </div>
                    </div>
                    <div class="row m-b-30 advance-elements">
                        <div class="col-md-6 col-lg-6">
                            <div class="sub-title">Pick Up Date</div>
                            <div class="form-control-wrapper">
                                <input type="text" id="pickupdate" class="form-control floating-label" placeholder="Date">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="sub-title">Pick Up Time</div>
                            <div class="form-control-wrapper">
                                <input type="text" id="pickuptime" class="form-control floating-label" placeholder="Time">
                            </div>
                        </div>
                    </div>
                    <div class="row m-b-30 advance-elements">
                        <div class="col-md-6 col-lg-6">
                            <div class="sub-title">Return Date</div>
                            <div class="form-control-wrapper">
                                <input type="text" id="returndate" class="form-control floating-label" placeholder="Date">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="sub-title">Return Time</div>
                            <div class="form-control-wrapper">
                                <input type="text" id="returntime" class="form-control floating-label" placeholder="Time">
                            </div>
                        </div>
                    </div>
                    <div class="row m-b-30 advance-elements">
                        <div class="col-md-12 col-lg-12 text-right">
                            <button type="button" class="rtl btn btn-warning waves-effect waves-light">Procesar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--Footer Section Starts-->
    <footer id="eventos" data-jarallax='{"speed": 0.2}' class="jarallax section-tb footer"
            style="background-image: url({{ asset('bundles/app/images/landingpage/footer-bg.jpg') }});">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-about m-b-xs-15">
                    <h3 class="footer-header">Contacto</h3>
                    <ul class="footer_widget">
                        <li class="footer_address">
                            <i class="icofont icofont-location-pin"></i>
                            <h5>2840 E Flamingo Rd Suite C
                                89121 Las Vegas</h5>
                        </li>
                        <li class="footer_contact">
                            <i class="icofont icofont-ui-cell-phone"></i>
                            <h5>+1 702-800-1750 </h5>
                        </li>
                        <li class="footer-web">
                            <i class="icofont icofont-globe"></i>
                            <h5>www.believecuba.com</h5>
                        </li>
                        <li class="footer_email">
                            <i class="icofont icofont-plane-ticket"></i>
                            <h5>Agencia de turismo</h5>
                        </li>
                        <li class="footer_email">
                            <i class="icofont icofont-flag"></i>
                            <h5>Página creada el 9 de abril de 2017.
                            </h5>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-gallery m-b-xs-15">
                    <h3 class="footer-header">Fotos</h3>
                    <ul>
                        <li>
                            <a href="#"><img src="{{ asset('bundles/app/images/landingpage/1.jpg') }}" alt=""
                                             class="img-fluid">
                                <div class="footer-hvr-effect"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="{{ asset('bundles/app/images/landingpage/2.jpg') }}" alt=""
                                             class="img-fluid">
                                <div class="footer-hvr-effect"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="{{ asset('bundles/app/images/landingpage/3.jpg') }}" alt=""
                                             class="img-fluid">
                                <div class="footer-hvr-effect gradient_bg"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="{{ asset('bundles/app/images/landingpage/4.jpg') }}" alt=""
                                             class="img-fluid">
                                <div class="footer-hvr-effect"></div>
                            </a>

                        </li>
                        <li>
                            <a href="#"><img src="{{ asset('bundles/app/images/landingpage/5.jpg') }}" alt=""
                                             class="img-fluid">
                                <div class="footer-hvr-effect"></div>
                            </a>
                        </li>
                        <li>
                            <a href="#"><img src="{{ asset('bundles/app/images/landingpage/6.jpg') }}" alt=""
                                             class="img-fluid">
                                <div class="footer-hvr-effect"></div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-menu m-b-xs-15">
                    <h3 class="footer-header">Horario</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul>
                                <li><a href="#"><i class="icofont icofont-rounded-double-right"></i><h5>Lunes : 9:00 -
                                            18:00</h5></a></li>
                                <li><a href="#"><i class="icofont icofont-rounded-double-right"></i><h5>Martes : 9:00 -
                                            17:00</h5></a></li>
                                <li><a href="#"><i class="icofont icofont-rounded-double-right"></i><h5>Miércoles : 9:00
                                            - 17:00 HOY</h5></a></li>
                                <li><a href="#"><i class="icofont icofont-rounded-double-right"></i><h5>Jueves : 9:00 -
                                            18:00</h5></a></li>
                                <li><a href="#"><i class="icofont icofont-rounded-double-right"></i><h5>Viernes : 9:00 -
                                            18:00</h5></a></li>
                                <li><a href="#eventos"><i class="icofont icofont-rounded-double-right"></i><h5>Sábado :
                                            9:00 - 18:00</h5></a></li>
                                <li><a href="#eventos"><i class="icofont icofont-rounded-double-right"></i><h5>Domingo :
                                            CERRADO</h5></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-news">
                    <h3 class="footer-header">Boletín</h3>
                    <p>Recibe notificaciones sobre nuevas ofertas</p>
                    <form id="subscribe_form" method="post" action="#">

                        <div class="input-group subscribe-btn">
                            <input type="text" class="form-control" placeholder="Correo electrónico">
                            <button class="btn waves-effect waves-light" type="button">
                                <i class="icofont icofont-double-right"></i>
                            </button>
                        </div>
                        <div>
                            <div class="d-flex follow-sec">
                                <h5>Síguenos : </h5>
                                <ul class="team-socials">
                                    <li class="fb"><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li class="twt"><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li class="skype"><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                    <li class="l_in"><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}
