{% extends "landing.html.twig" %}

{% block content %}
    <div class="carousel-height">
        <div class="container-carousel hidden-sm-down" style="position: fixed; z-index: -9999;">
            <div class="row">
                <div class="col-md-12">
                    <div id="bs4-carousel" class="carousel slide carousel-fade" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="carousel-item">
                                <img src="{{ asset('bundles/app/images/believecuba/carousel/disneyworld.jpg') }}"
                                     alt="Second slide" class="img-full">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('bundles/app/images/believecuba/carousel/paris.jpg') }}"
                                     alt="Third slide" class="img-full">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ asset('bundles/app/images/believecuba/carousel/cuidadluces.jpg') }}"
                                     alt="Fourth slide" class="img-full">
                            </div>
                            <div class="carousel-item active">
                                <img src="{{ asset('bundles/app/images/believecuba/carousel/logo_carousel.jpg') }}"
                                     alt="First slide" class="img-full">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-carousel hidden-md-up" style="position: fixed; z-index: -9999;">
            <div class="row">
                <div class="col-sm-12">
                    <img src="{{ asset('bundles/app/images/believecuba/carousel/logo_carousel-sm.jpg') }}" class="img">
                </div>
            </div>
        </div>

        <div class="container-fluid reservas">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card-block tab-icon tab-with-img">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs md-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tab1" role="tab">
                                    <div class="hidden-sm-down">
                                        <i class="fa fa-car"></i>
                                        Autos
                                    </div>
                                    <div class="hidden-md-up">
                                        <i class="fa fa-car fa-2x"></i>
                                    </div>
                                </a>
                                <div class="slide"></div>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1" role="tabpanel">
                                <div class="row m-b-30 advance-elements portfolioFilter">
                                    <div class="col-sm-12 col-md-12 col-lg-3 form-">
                                        <div class="sub-title sub-title-light text-right"><i class="fa fa-filter"></i>
                                            Filtro
                                        </div>
                                        <div class="sub-title sub-title-light m-t-20"><i class="fa fa-chevron-down"></i>
                                            Categoría
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input value=".economico" id="categoria1" type="checkbox">
                                            <label for="categoria1" class="txt-white">
                                                Económico
                                            </label>
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input value=".4x4" id="categoria2" type="checkbox">
                                            <label for="categoria2" class="txt-white">
                                                4x4
                                            </label>
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input value=".medio" id="categoria3" type="checkbox">
                                            <label for="categoria3" class="txt-white">
                                                Medio
                                            </label>
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input value=".medioalto" id="categoria4" type="checkbox">
                                            <label for="categoria4" class="txt-white">
                                                Medio Alto
                                            </label>
                                        </div>
                                        <div class="sub-title sub-title-light m-t-20"><i class="fa fa-chevron-down"></i>
                                            Transmisión
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input value=".automatica" id="transmision1" type="checkbox">
                                            <label for="transmision1" class="txt-white">
                                                Automática
                                            </label>
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input value=".mecanica" id="transmision2" type="checkbox">
                                            <label for="transmision2" class="txt-white">
                                                Mecánica
                                            </label>
                                        </div>
                                        <div class="sub-title sub-title-light m-t-20"><i class="fa fa-chevron-down"></i>
                                            Rentadoras
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input value=".cubacar" id="rentadora1" type="checkbox">
                                            <label for="rentadora1" class="txt-white">
                                                Cubacar
                                            </label>
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input value=".habanaautos" id="rentadora2" type="checkbox">
                                            <label for="rentadora2" class="txt-white">
                                                Habanaautos
                                            </label>
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input id="rentadora3" type="checkbox">
                                            <label for="rentadora3" class="txt-white">
                                                Rentcar1
                                            </label>
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input id="rentadora4" type="checkbox">
                                            <label for="rentadora4" class="txt-white">
                                                Rentcar2
                                            </label>
                                        </div>
                                        <div class="sub-title sub-title-light m-t-20"><i class="fa fa-chevron-down"></i>
                                            Especificaciones
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input id="especificacion1" type="checkbox">
                                            <label for="especificacion1" class="txt-white">
                                                Aire Acondicionado
                                            </label>
                                        </div>
                                        <div class="checkbox-color checkbox-warning p-l-2">
                                            <input id="especificacion2" type="checkbox">
                                            <label for="especificacion2" class="txt-white">
                                                Seguridad
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-12 col-lg-9">
                                        <div class="sub-title sub-title-light text-right results-div"><i
                                                    class="fa fa-reorder"></i>
                                            <span></span>
                                        </div>
                                        <div class="portfolioContainer">
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item 4x4 cubacar">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/1.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item medio cubacar">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/2.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item 4x4 cubacar">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/3.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item economico mecanica habanaautos">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/3.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item economico automatica habanaautos">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/1.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item medioalto cubacar">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/2.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item 4x4 habanaautos">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/1.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item medio habanaautos">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/2.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item medio cubacar">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/3.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item economico mecanica cubacar">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/3.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item economico automatica cubacar">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/1.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item medioalto cubacar">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/2.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item 4x4 cubacar">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/1.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item medio habanaautos">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/2.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item medio cubacar">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/3.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item economico mecanica habanaautos">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/3.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item 4x4 automatica habanaautos">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/1.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xm-12 col-sm-6 col-md-4 col-lg-4 car-item medioalto cubacar">
                                                <div class="card prod-view">
                                                    <div class="prod-item text-center">
                                                        <div class="prod-img">
                                                            <a href="#" class="hvr-shrink">
                                                                <img src="{{ asset('bundles/app/images/believecuba/ofertas/cars/2.jpg') }}"
                                                                     class="img-fluid o-hidden">
                                                            </a>
                                                            <div class="p-new"><a href="#"><i class="fa fa-car"></i>
                                                                    Detalles</a></div>
                                                        </div>
                                                        <div class="prod-info text-left">
                                                            <p class="m-t-4"><i class="fa fa-cart-plus"></i> 5 Asientos
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-briefcase"></i> 2 Maleteros
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-thumbs-o-down"></i> 4
                                                                Puertas</p>
                                                            <p class="m-t-4"><i class="fa fa-cog"></i> Autmático</p>
                                                            <p class="m-t-4"><i class="fa fa-fa"></i> Aire acondicionado
                                                            </p>
                                                            <p class="m-t-4"><i class="fa fa-industry"></i> 40L
                                                                Combustible</p>
                                                        </div>
                                                        <div class="text-right prod-buttons">
                                                            <a class="btn btn-default waves-effect m-5"><i
                                                                        class="fa fa-bookmark"></i> Book now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 text-right">
                                        <div class="sub-title sub-title-light"></div>
                                        <button type="button" class="btn btn-default waves-effect waves-light"><i
                                                    class="fa fa-check"></i> Reservar Hotel
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container-fluid color-bg">
            <div class="row">
                <div class="col-sm-12 offers">
                    <div class="row text-center">
                        <div class="title">
                            <h2 class="title-center-inverse">Autos Recomendados</h2>
                        </div>
                    </div>
                    <div class="slider-center" id="recomendedcars">
                        <div class="item">
                            <div class="blog-img">
                                <img class="img-fluid "
                                     src="{{ asset('bundles/app/images/believecuba/autos/301.jpg') }}"
                                     alt="blog-img">
                                <div class="blog-hover-detail d-flex">
                                    <div class="m-x-auto text-center">
                                        <div class="card-block text-center">
                                            <a href="#"
                                               class="btn btn-warning waves-effect waves-light">
                                                Detalles
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details bg-white">
                                <div class="text-right">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                </div>
                                <ul class="pricing-table-items">
                                    <li>
                                       <i class="fa fa-cart-plus"></i> 5 Asientos
                                    </li>
                                    <li>
                                        <i class="fa fa-briefcase"></i> 2 Maleteros
                                    </li>
                                    <li>
                                        <i class="fa fa-thumbs-o-down"></i> 4 Puertas
                                    </li>
                                    <li>
                                        <i class="fa fa-cog"></i> Autmático
                                    </li>
                                    <li>
                                        <i class="fa fa-fa"></i> Aire acondicionado
                                    </li>
                                </ul>
                                <div class="text-right">
                                    <a href="#" class="btn btn-warning waves-effect waves-light">Book now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-img">
                                <img class="img-fluid "
                                     src="{{ asset('bundles/app/images/believecuba/autos/508.jpg') }}"
                                     alt="blog-img">
                                <div class="blog-hover-detail d-flex">
                                    <div class="m-x-auto  ext-center">
                                        <div class="card-block text-center">
                                            <a href="#"
                                               class="btn btn-warning waves-effect waves-light">
                                                Detalles
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details bg-white">
                                <div class="text-right">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                </div>
                                <ul class="pricing-table-items">
                                    <li>
                                        <i class="fa fa-cart-plus"></i> 5 Asientos
                                    </li>
                                    <li>
                                        <i class="fa fa-briefcase"></i> 2 Maleteros
                                    </li>
                                    <li>
                                        <i class="fa fa-thumbs-o-down"></i> 4 Puertas
                                    </li>
                                    <li>
                                        <i class="fa fa-cog"></i> Autmático
                                    </li>
                                    <li>
                                        <i class="fa fa-fa"></i> Aire acondicionado
                                    </li>
                                </ul>
                                <div class="text-right">
                                    <a href="#" class="btn btn-warning waves-effect waves-light">Book now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-img">
                                <img class="img-fluid "
                                     src="{{ asset('bundles/app/images/believecuba/autos/2008.jpg') }}"
                                     alt="blog-img">
                                <div class="blog-hover-detail d-flex">
                                    <div class="m-x-auto text-center">
                                        <div class="card-block text-center">
                                            <a href="#"
                                               class="btn btn-warning waves-effect waves-light">
                                                Detalles
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details bg-white">
                                <div class="text-right">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                </div>
                                <ul class="pricing-table-items">
                                    <li>
                                        <i class="fa fa-cart-plus"></i> 5 Asientos
                                    </li>
                                    <li>
                                        <i class="fa fa-briefcase"></i> 2 Maleteros
                                    </li>
                                    <li>
                                        <i class="fa fa-thumbs-o-down"></i> 4 Puertas
                                    </li>
                                    <li>
                                        <i class="fa fa-cog"></i> Autmático
                                    </li>
                                    <li>
                                        <i class="fa fa-fa"></i> Aire acondicionado
                                    </li>
                                </ul>
                                <div class="text-right">
                                    <a href="#" class="btn btn-warning waves-effect waves-light">Book now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-img">
                                <img class="img-fluid "
                                     src="{{ asset('bundles/app/images/believecuba/autos/expert_tepee.jpg') }}"
                                     alt="blog-img">
                                <div class="blog-hover-detail d-flex">
                                    <div class="m-x-auto text-center">
                                        <div class="card-block text-center">
                                            <a href="#"
                                               class="btn btn-warning waves-effect waves-light">
                                                Detalles
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details bg-white">
                                <div class="text-right">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                </div>
                                <ul class="pricing-table-items">
                                    <li>
                                        <i class="fa fa-cart-plus"></i> 5 Asientos
                                    </li>
                                    <li>
                                        <i class="fa fa-briefcase"></i> 2 Maleteros
                                    </li>
                                    <li>
                                        <i class="fa fa-thumbs-o-down"></i> 4 Puertas
                                    </li>
                                    <li>
                                        <i class="fa fa-cog"></i> Autmático
                                    </li>
                                    <li>
                                        <i class="fa fa-fa"></i> Aire acondicionado
                                    </li>
                                </ul>
                                <div class="text-right">
                                    <a href="#" class="btn btn-warning waves-effect waves-light">Book now</a>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="blog-img">
                                <img class="img-fluid "
                                     src="{{ asset('bundles/app/images/believecuba/autos/Picanto.jpg') }}"
                                     alt="blog-img">
                                <div class="blog-hover-detail d-flex">
                                    <div class="m-x-auto text-center">
                                        <div class="card-block text-center">
                                            <a href="#"
                                               class="btn btn-warning waves-effect waves-light">
                                                Detalles
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blog-details bg-white">
                                <div class="text-right">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                </div>
                                <ul class="pricing-table-items">
                                    <li>
                                        <i class="fa fa-cart-plus"></i> 5 Asientos
                                    </li>
                                    <li>
                                        <i class="fa fa-briefcase"></i> 2 Maleteros
                                    </li>
                                    <li>
                                        <i class="fa fa-thumbs-o-down"></i> 4 Puertas
                                    </li>
                                    <li>
                                        <i class="fa fa-cog"></i> Autmático
                                    </li>
                                    <li>
                                        <i class="fa fa-fa"></i> Aire acondicionado
                                    </li>
                                </ul>
                                <div class="text-right">
                                    <a href="#" class="btn btn-warning waves-effect waves-light">Book now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end of slider-center -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->
        </div>
    </section>
{% endblock content %}
