<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Believecuba - Admin{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('bundles/app/icon/material-design/css/material-design-iconic-font.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- Iconfont -->
            <link href="{{ asset('bundles/app/icon/icofont/css/icofont.css') }}" rel="stylesheet" type="text/css" />
            <!-- Simple Line Icon -->
            <link href="{{ asset('bundles/app/icon/simple-line-icons/css/simple-line-icons.css') }}" rel="stylesheet" type="text/css" />
            <!-- Required Framework -->
            <link href="{{ asset('bundles/app/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- Responsive.css-->
            <link href="{{ asset('bundles/app/css/responsive.css') }}" rel="stylesheet" type="text/css" />
            <!-- Select 2 css -->
            <link href="{{ asset('bundles/app/plugins/select2/css/select2.min.css') }}" rel="stylesheet" type="text/css" />
            <!-- Multi Select css -->
            <link href="{{ asset('bundles/app/plugins/multi-select/css/bootstrap-multiselect.css') }}" rel="stylesheet" type="text/css" />
            <link href="{{ asset('bundles/app/plugins/multi-select/css/multi-select.css') }}" rel="stylesheet" type="text/css" />
            <!-- Style.css -->
            <link href="{{ asset('bundles/app/css/main.css') }}" rel="stylesheet" type="text/css" />
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('bundles/app/images/believecuba/logo_favicon.jpg') }}" type="image/x-icon">
    </head>
    <body class="horizontal-fixed fixed common-img-bg">
        <div class="wrapper">
            <div class="loader-bg">
                <div class="loader-bar">
                </div>
            </div>
            {% block header %}
            <header class="main-header-top hidden-print">
                <a href="#" class="logo"><img class="img-fluid able-logo" src="{{ asset('bundles/app/images/logo.png') }}" alt="Theme-logo"> </a>
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button--><a href="#" data-toggle="offcanvas" class="sidebar-toggle hidden-md-up"></a>
                    <!-- Navbar Right Menu-->
                    <div class="navbar-custom-menu">
                        <ul class="top-nav">
                            <!--Notification Menu-->
                            <li class="dropdown pc-rheader-submenu message-notification search-toggle" hidden>
                                <a href="#" id="morphsearch-search" class="drop icon-circle txt-white">
                                    <i class="icofont icofont-search-alt-1"></i>
                                </a>
                            </li>
                            <li class="dropdown notification-menu" hidden>
                                <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                                    <i class="icon-bell"></i>
                                    <span class="badge badge-danger header-badge">9</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="not-head">You have <b class="text-primary">4</b> new notifications.</li>
                                    <li class="bell-notification">
                                        <a href="javascript:" class="media">
                                    <span class="media-left media-icon">
                                        <img class="img-circle" src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="User Image">
                                    </span>
                                            <div class="media-body"><span class="block">Lisa sent you a mail</span><span class="text-muted block-time">2min ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="bell-notification">
                                        <a href="javascript:" class="media">
                                    <span class="media-left media-icon">
                                            <img class="img-circle" src="{{ asset('bundles/app/images/avatar-2.png') }}" alt="User Image">
                                        </span>
                                            <div class="media-body"><span class="block">Server Not Working</span><span class="text-muted block-time">20min ago</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="bell-notification">
                                        <a href="javascript:" class="media"><span class="media-left media-icon">
                                            <img class="img-circle" src="{{ asset('bundles/app/images/avatar-3.png') }}" alt="User Image">
                                        </span>
                                            <div class="media-body"><span class="block">Transaction xyz complete</span><span class="text-muted block-time">3 hours ago</span></div></a>
                                    </li>
                                    <li class="not-footer">
                                        <a href="#">See all notifications.</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- chat dropdown -->
                            <li class="pc-rheader-submenu" hidden>
                                <a href="#" class="drop icon-circle displayChatbox">
                                    <i class="icon-bubbles"></i>
                                    <span class="badge badge-danger header-badge blink">5</span>
                                </a>
                            </li>
                            <!-- window screen -->
                            <li class="pc-rheader-submenu">
                                <a href="#" class="drop icon-circle" onclick="toggleFullScreen()">
                                    <i class="icon-size-fullscreen"></i>
                                </a>
                            </li>
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <!-- User Menu-->
                            <li class="dropdown ">
                                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle ">
                                    <span><i class="icon-user"></i></span>
                                    <span><i class=" icofont icofont-simple-down"></i></span>
                                </a>
                                <ul class="dropdown-menu settings-menu">
                                    <li><a href="#"><i class="icon-user"></i>{{ app.user.nombrecompleto }} </a>
                                    </li>
                                    <li class="p-0">
                                        <div class="dropdown-divider m-0"></div>
                                    </li>
                                    <li hidden><a href="#"><i class="icon-settings"></i> Settings</a>
                                    </li>
                                    <li><a href="{{ path('usuario_edit', { 'id': app.user.id }) }}"><i class="icon-info"></i> Mi perfil</a>
                                    </li>
                                    <li hidden><a href="#"><i class="icon-envelope-open"></i> My Messages</a>
                                    </li>
                                    <li class="p-0">
                                        <div class="dropdown-divider m-0"></div>
                                    </li>
                                    <li hidden><a href="#"><i class="icon-lock"></i> Lock Screen</a>
                                    </li>
                                    <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-logout"></i> Salir</a>
                                    </li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                        <!-- search -->
                        <div id="morphsearch" class="morphsearch">
                            <form class="morphsearch-form">

                                <input class="morphsearch-input" type="search" placeholder="Search..." />

                                <button class="morphsearch-submit" type="submit">Search</button>

                            </form>
                            <div class="morphsearch-content">
                                <div class="dummy-column">
                                    <h2>People</h2>
                                    <a class="dummy-media-object" href="#">
                                        <img class="round" src="#" alt="Sara Soueidan" />
                                        <h3>Sara Soueidan</h3>
                                    </a>

                                    <a class="dummy-media-object" href="#">
                                        <img class="round" src="#" alt="Shaun Dona" />
                                        <h3>Shaun Dona</h3>
                                    </a>
                                </div>
                                <div class="dummy-column">
                                    <h2>Popular</h2>
                                    <a class="dummy-media-object" href="#">
                                        <img src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="PagePreloadingEffect" />
                                        <h3>Page Preloading Effect</h3>
                                    </a>

                                    <a class="dummy-media-object" href="#">
                                        <img src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="DraggableDualViewSlideshow" />
                                        <h3>Draggable Dual-View Slideshow</h3>
                                    </a>
                                </div>
                                <div class="dummy-column">
                                    <h2>Recent</h2>
                                    <a class="dummy-media-object" href="#">
                                        <img src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="TooltipStylesInspiration" />
                                        <h3>Tooltip Styles Inspiration</h3>
                                    </a>
                                    <a class="dummy-media-object" href="#">
                                        <img src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="NotificationStyles" />
                                        <h3>Notification Styles Inspiration</h3>
                                    </a>
                                </div>
                            </div>
                            <!-- /morphsearch-content -->
                            <span class="morphsearch-close"><i class="icofont icofont-search-alt-1"></i></span>
                        </div>
                        <!-- search end -->
                    </div>
                </nav>
            </header>
            {% endblock header %}

            {% block mainmenu %}
                <aside class="main-sidebar hidden-print ">
                    <section class="sidebar" id="sidebar-scroll">
                        <div class="user-panel">
                            <div class="f-left image"><img src="#" alt="User Image" class="img-circle">
                            </div>
                            <div class="f-left info">
                                <p>John Doex</p>
                                <p class="designation">UX Designer <i class="fa fa-sort-down m-l-5"></i>
                                </p>
                            </div>
                        </div>
                        <!--horizontal Menu Starts-->
                        <ul class="sidebar-menu">
                            <li class=""><a href="{{ path('panel') }}"><i class="icon-settings"></i><span>Configuraciones </span></a></li>
                            <li class=""><a href="{{ path('usuario_index') }}"><i class="icon-user"></i><span>Usuarios </span></a></li>
                            <li class=""><a href="{{ path('grupo_index') }}"><i class="icon-shield"></i><span>Grupos y Roles </span></a></li>

                        </ul>
                        <!--horizontal Menu Ends-->
                    </section>
                </aside>
            {% endblock mainmenu %}

            {% block plegable %}
            <div id="sidebar" class="p-fixed header-users showChat">
                <div class="had-container">
                    <div class="card card_main header-users-main">
                        <div class="card-content user-box">
                            <div class="md-group-add-on p-20">
                                <span class="md-add-on">
                                    <i class="icofont icofont-search-alt-2 chat-search"></i>
                                </span>
                                <div class="md-input-wrapper">
                                    <input type="reset" class="md-form-control" name="username" id="search-friends">
                                    <label>Search</label>
                                </div>
                            </div>
                            <div class="media friendlist-main">
                                <h6>Friend List</h6>
                            </div>
                            <div class="main-friend-list">
                                <div class="media friendlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">

                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Josephin Doe</div>
                                        <span>20min ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-2.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Alice</div>
                                        <span>1 hour ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="7" data-status="offline" data-username="Michael Scofield" data-toggle="tooltip" data-placement="left" title="Michael Scofield">
                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-3.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-danger"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Michael Scofield</div>
                                        <span>3 hours ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="5" data-status="online" data-username="Irina Shayk" data-toggle="tooltip" data-placement="left" title="Irina Shayk">
                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-4.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Irina Shayk</div>
                                        <span>1 day ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="6" data-status="offline" data-username="Sara Tancredi" data-toggle="tooltip" data-placement="left" title="Sara Tancredi">
                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-5.png') }}.png" alt="Generic placeholder image">
                                        <div class="live-status bg-danger"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Sara Tancredi</div>
                                        <span>2 days ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Josephin Doe</div>
                                        <span>20min ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-2.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Alice</div>
                                        <span>1 hour ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">

                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-3.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Josephin Doe</div>
                                        <span>20min ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-2.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Alice</div>
                                        <span>1 hour ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">

                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Josephin Doe</div>
                                        <span>20min ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-2.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Alice</div>
                                        <span>1 hour ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">

                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Josephin Doe</div>
                                        <span>20min ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">

                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Josephin Doe</div>
                                        <span>20min ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">

                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Josephin Doe</div>
                                        <span>20min ago</span>
                                    </div>
                                </div>
                                <div class="media friendlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">

                                    <a class="media-left" href="#">
                                        <img class="media-object img-circle" src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="friend-header">Josephin Doe</div>
                                        <span>20min ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock plegable %}

            <div class="{% if ( app.request.attributes.get('_route') != 'fos_user_security_login') %}container-fluid{% endif %}">
                {% block breadcrumb %}
                    <div class="card-block breadcrumb-icon-block">
                        <ul id="breadcrumb-triangle">
                            <li><a href="#"><span class="icofont icofont-home"> </span></a></li>
                            <li><a href="#"><span class="icofont icofont-flask"> </span> Projects</a></li>
                            <li><a href="#"><span class="icofont icofont-double-right"></span> Breadcrumb</a></li>
                            <li><a href="#"><span class="icofont icofont-rocket-alt-2"> </span> Getting started</a></li>
                            <li><a href="#"><span class="icofont icofont-cloud-download"> </span> Download</a></li>
                        </ul>
                    </div>
                {% endblock %}
                {% block content %} {% endblock %}
            </div>
        </div>
    </body>
    {% block javascripts %}
        <!-- Required JQuery -->
        <script src="{{ asset('bundles/app/js/jquery-3.1.1.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/jquery-ui.min.js') }}"></script>
        <script src="{{ asset('bundles/app/js/tether.min.js') }}"></script>
        <!-- Required Framework -->
        <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <!-- Waves Effects.js -->
        <script src="{{ asset('bundles/app/plugins/waves/js/waves.min.js') }}"></script>
        <!-- Scrollbar JS-->
        <script src="{{ asset('bundles/app/plugins/slimscroll/js/jquery.slimscroll.js') }}"></script>
        <script src="{{ asset('bundles/app/plugins/slimscroll/js/jquery.nicescroll.min.js') }}"></script>
        <!--classic JS-->
        <script src="{{ asset('bundles/app/plugins/search/js/classie.js') }}"></script>
        <!-- Notification -->
        <script src="{{ asset('bundles/app/plugins/notification/js/bootstrap-growl.min.js') }}"></script>
        <!-- Date picker.js -->
        <script src="{{ asset('bundles/app/plugins/datepicker/js/moment-with-locales.min.js') }}"></script>
        <script src="{{ asset('bundles/app/plugins/datepicker/js/bootstrap-material-datetimepicker.js') }}"></script>
        <!-- Select 2 js -->
        <script src="{{ asset('bundles/app/plugins/select2/js/select2.full.min.js') }}"></script>
        <!-- Max-Length js -->
        <script src="{{ asset('bundles/app/plugins/max-length/js/bootstrap-maxlength.js') }}"></script>
        <!-- switchery js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/switchery/js/switchery.min.js') }}"></script>
        <!-- Multi Select js -->
        <script src="{{ asset('bundles/app/plugins/multi-select/js/bootstrap-multiselect.js') }}"></script>
        <script src="{{ asset('bundles/app/plugins/multi-select/js/jquery.multi-select.js') }}"></script>
        <script src="{{ asset('bundles/app/plugins/multi-select/js/jquery.quicksearch.js') }}"></script>
        <!-- Tags js -->
        <script src="{{ asset('bundles/app/plugins/tags/js/bootstrap-tagsinput.js') }}"></script>
        <!-- Bootstrap Datepicker js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
        <script src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
        <!-- bootstrap range picker -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/daterangepicker.js') }}"></script>
        <!-- highlite js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/highlighter/js/shCore.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/highlighter/js/shBrushJScript.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/highlighter/js/shBrushXml.js') }}"></script>
        <!-- Custom js -->
        <script src="{{ asset('bundles/app/js/main.js') }}"></script>
        <script src="{{ asset('bundles/app/pages/advance-form.js') }}"></script>
        <script src="{{ asset('bundles/app/js/menu-horizontal-icon-fixed.js') }}"></script>
        <script src="{{ asset('bundles/app/pages/elements.js') }}"></script>

    {% endblock %}
</html>
