<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}BelieveCuba - Panel{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link rel="shortcut icon" href="{{ asset('bundles/app/images/believecuba/logo_favicon.png') }}" type="image/x-icon">
    {% block stylesheets %}
         <!-- Ico font -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/icon/icofont/css/icofont.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/font-awesome.min.css') }}">
        <!-- Simple line icon -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/icon/simple-line-icons/css/simple-line-icons.css') }}">
        <!-- Required Fremwork -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
        <!-- Jarallax Demo -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/jarallax-demo.css') }}">
        <!-- Slick.css-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/slick.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/slick-theme.css') }}">
        <!-- Select 2 css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/plugins/select2/css/select2.min.css') }}" />
        <!-- Multi Select css -->
        <link rel="stylesheet" href="{{ asset('bundles/app/plugins/multi-select/css/bootstrap-multiselect.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/app/plugins/multi-select/css/multi-select.css') }}" />
        <!-- Color Picker css -->
        <link rel="stylesheet" href="{{ asset('bundles/app/plugins/color-picker/css/spectrum.css') }}" />
        <!-- Tags css -->
        <link rel="stylesheet" href="{{ asset('bundles/app/plugins/tags/css/bootstrap-tagsinput.css') }}" />
        <!-- Switchery css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/plugins/switchery/css/switchery.min.css') }}">
        <!-- List css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/plugins/list-scroll/css/list.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/plugins/list-scroll/css/stroll.css') }}">
        <!-- Owl carousel css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/owl.carousel.css') }}">
        <!-- Swiper css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/swiper.min.css') }}">
        <!-- Date Picker css -->
        <link rel="stylesheet" href="{{ asset('bundles/app/plugins/datepicker/css/bootstrap-material-datetimepicker.css') }}" />
        <!-- Style.css -->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/main.backend.css') }}">
        <!-- Responsive.css-->
        <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/responsive.backend.css') }}">
    {% endblock %}
</head>

<body class="horizontal-fixed fixed" data-spy="scroll" data-target=".navbar" data-offset="50">
    <header class="main-header-top hidden-print">
        <a href="#" class="logo hidden-sm-down hidden-xs-down navbar-sticky-top">
            <img class="img-fluid able-logo"
                 src="{{ asset('bundles/app/images/believecuba/logo-h.png') }}" alt="Theme-logo">
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" data-toggle="offcanvas" class="sidebar-toggle hidden-md-up"></a>
            <div class="navbar-custom-menu">
                <ul class="top-nav">
                    <!--Notification Menu-->
                    <li class="dropdown pc-rheader-submenu message-notification search-toggle" hidden>
                        <a href="#" id="morphsearch-search" class="drop icon-circle txt-white">
                            <i class="icofont icofont-search-alt-1"></i>
                        </a>
                    </li>
                    <li class="dropdown notification-menu" hidden>
                        <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                            <i class="icon-bell"></i>
                            <span class="badge badge-danger header-badge">9</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="not-head">You have <b class="text-primary">4</b> new notifications.</li>
                            <li class="bell-notification">
                                <a href="javascript:" class="media">
                                    <span class="media-left media-icon">
                                        <img class="img-circle" src="{{ asset('bundles/app/images/avatar-1.png') }}" alt="User Image">
                                    </span>
                                    <div class="media-body"><span class="block">Lisa sent you a mail</span><span class="text-muted block-time">2min ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="bell-notification">
                                <a href="javascript:" class="media">
                                    <span class="media-left media-icon">
                                            <img class="img-circle" src="{{ asset('bundles/app/images/avatar-2.png') }}" alt="User Image">
                                        </span>
                                    <div class="media-body"><span class="block">Server Not Working</span><span class="text-muted block-time">20min ago</span>
                                    </div>
                                </a>
                            </li>
                            <li class="bell-notification">
                                <a href="javascript:" class="media"><span class="media-left media-icon">
                                            <img class="img-circle" src="{{ asset('bundles/app/images/avatar-3.png') }}" alt="User Image">
                                        </span>
                                    <div class="media-body"><span class="block">Transaction xyz complete</span><span class="text-muted block-time">3 hours ago</span></div></a>
                            </li>
                            <li class="not-footer">
                                <a href="#">See all notifications.</a>
                            </li>
                        </ul>
                    </li>
                    <!-- chat dropdown -->
                    <li class="pc-rheader-submenu" hidden>
                        <a href="#" class="drop icon-circle displayChatbox">
                            <i class="icon-bubbles"></i>
                            <span class="badge badge-danger header-badge blink">5</span>
                        </a>
                    </li>
                    <!-- window screen -->
                    <li class="pc-rheader-submenu">
                        <a href="#" class="drop icon-circle" onclick="toggleFullScreen()">
                            <i class="icon-size-fullscreen"></i>
                        </a>
                    </li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <!-- User Menu-->
                        <li class="dropdown ">
                            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle drop icon-circle ">
                                <span><i class="icon-user"></i></span>
                                <span><i class=" icofont icofont-simple-down"></i></span>
                            </a>
                            <ul class="dropdown-menu settings-menu">
                                <li><a href="#"><i class="icon-user"></i>{{ app.user.nombrecompleto }} </a>
                                </li>
                                <li class="p-0">
                                    <div class="dropdown-divider m-0"></div>
                                </li>
                                <li hidden><a href="#"><i class="icon-settings"></i> Settings</a>
                                </li>
                                <li><a href="{{ path('usuario_edit', { 'id': app.user.id }) }}"><i class="icon-info"></i> Mi perfil</a>
                                </li>
                                <li hidden><a href="#"><i class="icon-envelope-open"></i> My Messages</a>
                                </li>
                                <li class="p-0">
                                    <div class="dropdown-divider m-0"></div>
                                </li>
                                <li hidden><a href="#"><i class="icon-lock"></i> Lock Screen</a>
                                </li>
                                <li><a href="{{ path('fos_user_security_logout') }}"><i class="icon-logout"></i> Salir</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar hidden-print ">
        <section class="sidebar" id="sidebar-scroll">
            <div class="user-panel">
                <div class="f-left image"><img src="assets/images/avatar-1.png" alt="User Image" class="img-circle">
                </div>
                <div class="f-left info">
                    <p>John Doe</p>
                    <p class="designation">UX Designer <i class="fa fa-sort-down m-l-5"></i>
                    </p>
                </div>
            </div>
            <!--horizontal Menu Starts-->
            <ul class="sidebar-menu">
                <li class="nav-level">Navigation</li>
                <li hidden><a href="{{ path('config_index')}}"><i class="fa fa-cog"></i><span> Configuraciones </span></a></li>
                <li><a href="{{ path('usuario_index')}}"><i class="fa fa-user"></i><span> Usuarios </span></a></li>
                <li><a href="{{ path('oferta_index')}}"><i class="fa fa-picture-o"></i><span> Ofertas </span></a></li>
                <li><a href="{{ path('solicitud_index')}}"><i class="fa fa-bell-o"></i><span> Solicitudes </span></a></li>
                <li hidden><a href="{{ path('grupo_index')}}"><i class="fa fa-shield"></i><span> Roles </span></a></li>
                <li hidden><a href="{{ path('provincia_index')}}"><i class="fa fa-location-arrow"></i><span>  Provincias </span></a></li>
                <li hidden><a href="{{ path('oficina_index')}}"><i class="fa fa-building"></i><span> Oficinas </span></a></li>
                <li hidden><a href="{{ path('autocategoria_index')}}"><i class="fa fa-car"></i><span> Categorias de Autos </span></a></li>
                <li hidden><a href="{{ path('automodelo_index')}}"><i class="fa fa-car"></i><span>  Modelos de Autos </span></a></li>
                <li hidden><a href="{{ path('config_index')}}"><i class="fa fa-sticky-note"></i><span>  Reservas </span></a></li>
            </ul>
            <!--horizontal Menu Ends-->
        </section>
    </aside>

<div class="backend-content container-fluid">
{% block content %} {% endblock %}
</div>

{% block javascripts %}
    <!-- Required Jqurey -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-3.1.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/tether.min.js') }}"></script>
    <!-- Required Fremwork -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
    <!-- Waves effects.js -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/waves/js/waves.min.js') }}"></script>
    <!-- Scrollbar JS-->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/slimscroll/js/jquery.slimscroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/slimscroll/js/jquery.nicescroll.min.js') }}"></script>
    <!-- List-scroll js -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/list-scroll/js/stroll.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/list/js/list.js') }}"></script>
    <!-- Classic JS-->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/search/js/classie.js') }}"></script>
    <!-- Notification -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/notification/js/bootstrap-growl.min.js') }}"></script>
    <!-- Slick JS -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/slick.min.js') }}"></script>
    <!-- Custom js -->
    <script type="text/javascript" src="{{ asset('bundles/app/pages/product-detail.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/pages/elements.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/pages/list-custom.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/jarallax.js') }}"></script>
    <!-- Isotope js What We Do -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/isotope/js/jquery.isotope.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/isotope/js/isotope.pkgd.min.js') }}"></script>
    <!-- Date picker.js -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/datepicker/js/moment-with-locales.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/datepicker/js/bootstrap-material-datetimepicker.js') }}"></script>
    <!-- Select 2 js -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/select2/js/select2.full.min.js') }}"></script>
    <!-- Max-Length js -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/max-length/js/bootstrap-maxlength.js') }}"></script>
    <!-- Switchery js -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/switchery/js/switchery.min.js') }}"></script>
    <!-- Multi Select js -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/multi-select/js/bootstrap-multiselect.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/multi-select/js/jquery.multi-select.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/multi-select/js/jquery.quicksearch.js') }}"></script>
    <!-- Tags js -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/tags/js/bootstrap-tagsinput.js') }}"></script>
    <!-- Bootstrap Datepicker js -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
    <!-- Bootstrap range picker -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/daterangepicker.js') }}"></script>
    <!-- Color picker -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/color-picker/js/spectrum.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/color-picker/js/jscolor.js') }}"></script>
    <!-- Owl carousel 2 js -->
    <script type="text/javascript" src="{{ asset('bundles/app/js/owl.carousel.min.js') }}"></script>
    <!-- Slider -->
    <script type="text/javascript" src="{{ asset('bundles/app/pages/slider.js') }}"></script>
    <!-- Model animation js -->
    <script type="text/javascript" src="{{ asset('bundles/app/plugins/modal/js/modalEffects.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/pages/advance-form.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/main.js') }}"></script>
    <!-- Custom landing page js -->
    <script type="text/javascript" src="{{ asset('bundles/app/pages/landing-page.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/app/js/common-pages.js') }}"></script>
    <script src="{{ asset('bundles/app/js/menu-horizontal.js') }}"></script>

{% endblock %}
</body>
</html>
