<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}BelieveCuba - Portal{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="description" content="Believecuba">
        <meta name="keywords"
              content="Believecuba, Servicios, Viajes, Ofertas, Precios, Informacion, Eventos, Anuncios, Vacaciones, Testimonio">
        <meta name="author" content="Believecuba">
        <link rel="shortcut icon" href="{{ asset('bundles/app/images/believecuba/logo_favicon.png') }}" type="image/x-icon">

        {% block stylesheets %}
            <!-- HTML5 Shim and Respond.js IE9 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
            <!-- Google font -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/icon/icofont/css/icofont.css') }}">
            <!-- Font Awesome -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/font-awesome.min.css') }}">
            <!-- Simple line icon -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/icon/simple-line-icons/css/simple-line-icons.css') }}">
            <!-- Required Fremwork -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">
            <!-- Jarallax Demo -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/jarallax-demo.css') }}">
            <!-- slick.css-->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/slick.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/slick-theme.css') }}">
            <!-- Select 2 css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/plugins/select2/css/select2.min.css') }}" />
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/plugins/select2/css/s2-docs.css') }}">
            <!-- Multi Select css -->
            <link rel="stylesheet" href="{{ asset('bundles/app/plugins/multi-select/css/bootstrap-multiselect.css') }}" />
            <link rel="stylesheet" href="{{ asset('bundles/app/plugins/multi-select/css/multi-select.css') }}" />
            <!-- Color Picker css -->
            <link rel="stylesheet" href="{{ asset('bundles/app/plugins/color-picker/css/spectrum.css') }}" />
            <!-- Tags css -->
            <link rel="stylesheet" href="{{ asset('bundles/app/plugins/tags/css/bootstrap-tagsinput.css') }}" />
            <!-- Switchery css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/plugins/switchery/css/switchery.min.css') }}">
            <!-- list css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/plugins/list-scroll/css/list.css') }}">
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/plugins/list-scroll/css/stroll.css') }}">
            <!--color css-->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/color/color-1.css') }}" id="color"/>
            <!-- owl carousel css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/owl.carousel.css') }}">
            <!-- swiper css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/swiper.min.css') }}">
            <!-- Date Picker css -->
            <link rel="stylesheet" href="{{ asset('bundles/app/plugins/datepicker/css/bootstrap-material-datetimepicker.css') }}" />
            <!-- Style.css -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/main.css') }}">
            <!-- Responsive.css-->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/responsive.css') }}">
            <!-- Landing Page -->
            <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/landingpage.css') }}">
        {% endblock %}
    </head>

    <body class="horizontal-fixed fixed" data-spy="scroll" data-target=".navbar" data-offset="50">
        <header class="main-header-top hidden-print">
            <a href="#" class="logo hidden-sm-down hidden-xs-down navbar-sticky-top">
                <img class="img-fluid able-logo"
                     src="{{ asset('bundles/app/images/believecuba/logo-h.png') }}" alt="Theme-logo">
            </a>
            <nav class="navbar navbar-static-top">
                <a href="#" data-toggle="offcanvas" class="sidebar-toggle hidden-md-up"></a>
                <div class="navbar-custom-menu">
                    <ul class="top-nav">
                        <li class="">
                            <a href="#" class="drop icon-circle">
                                <i class="fa fa-inbox"></i> booking@believecuba.com
                            </a>
                        </li>
                        <li class="hidden-sm-down">
                            <a href="#" class="drop icon-circle">
                                <i class="fa fa-phone-square"></i> +1 702-800-1750
                            </a>
                        </li>
                        <li class="hidden-sm-down">
                            <a href="#" class="drop">
                                <i class="fa fa-sign-in"></i> Entrar / Registrarse
                            </a>
                        </li>
                        <li class="">
                            <a href="#" class="drop">
                                <i class="icofont language"></i> English
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar hidden-print">
            <div class="sidebar" id="sidebar-scroll">
                <div class="user-panel">
                    <div class="f-left image hidden-sm-down"><img src="{{ asset('bundles/app/images/believecuba/logo-horizontal.png') }}" alt="User Image" class="img-circle">
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li><a href="{{ path('offers') }}"><h4><i class="fa fa-car"></i></h4><span> Autos </span></a></li>
                    <li><a href="#"><h4><i class="fa fa-hotel"></i></h4><span> Hoteles </span></a></li>
                    <li><a href="#"><h4><i class="fa fa-plane"></i></h4><span> Vuelos </span></a></li>
                    <li><a href="#"><h4><i class="fa fa-map-signs"></i></h4><span> Actividades </span></a></li>
                    <li><a href="#"><h4><i class="fa fa-location-arrow"></i></h4><span> Circuitos </span></a></li>
                    <li><a href="#"><h4><i class="fa fa-bus"></i></h4><span> Traslados </span></a></li>
                    <li><a href="#"><h4><i class="fa fa-ship"></i></h4><span> Crucero </span></a></li>
                    <li><a href="#"><h4><i class="fa fa-home"></i></h4><span> Casas privadas </span></a></li>
                    <li><a href="#"><h4><i class="fa fa-photo"></i></h4><span> Galería </span></a></li>
                    <li><a href="#"><h4><i class="fa fa-quote-right"></i></h4><span> Opiniones </span></a></li>
                </ul>
            </div>
        </aside>

        {% block content %} {% endblock %}

        <footer id="footer-sec" data-jarallax='{"speed": 0.2}' class="jarallax section-tb footer"
                style="background-image: url({{ asset('bundles/app/images/believecuba/carousel/logo_carousel_dark.jpg') }});">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-about m-b-xs-15">
                        <h3 class="footer-header">Información</h3>
                        <ul class="footer_widget">
                            <li class="footer_contact">
                                <i class="fa fa-phone"></i>
                                <h5>+1 702-800-1750 </h5>
                            </li>
                            <li class="footer-web">
                                <i class="fa fa-globe"></i>
                                <h5>Agencias</h5>
                            </li>
                            <li class="footer_email">
                                <i class="fa fa-ticket"></i>
                                <h5>¿Quiénes Somos?</h5>
                            </li>
                            <li class="footer_email">
                                <i class="fa fa-star"></i>
                                <h5>Contacto</h5>
                            </li>
                            <li class="footer_address">
                                <i class="fa fa-location-arrow"></i>
                                <h5>2840 E Flamingo Rd Suite C
                                    89121 Las Vegas</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 footer-about m-b-xs-15">
                        <h3 class="footer-header"> </h3>
                        <ul class="footer_widget">
                            <li class="footer_contact">
                                <i class="fa fa-arrow-right"></i>
                                <h5>Condiciones de pago </h5>
                            </li>
                            <li class="footer-web">
                                <i class="fa fa-arrow-right"></i>
                                <h5>Política de privacidad</h5>
                            </li>
                            <li class="footer_email">
                                <i class="fa fa-arrow-right"></i>
                                <h5>Términos y condiciones</h5>
                            </li>
                        </ul>
                        <img class="img-fluid vertical-middle" style="padding: 30px 0;" src="{{ asset('bundles/app/images/believecuba/payment.png') }}">
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 footer-news">
                        <h3 class="footer-header">Boletín</h3>
                        <p>Recibe notificaciones sobre nuevas ofertas</p>
                        <form id="subscribe_form" method="post" action="#">

                            <div class="input-group subscribe-btn">
                                <input type="text" class="form-control" placeholder="Correo electrónico">
                                <button class="btn waves-effect waves-light" type="button">
                                    <i class="icofont icofont-double-right"></i>
                                </button>
                            </div>
                            <div class="d-flex follow-sec">
                                <h5>Síguenos : </h5>
                                <ul class="team-socials">
                                    <li class="fb"><a href="#"><i class="icofont icofont-social-facebook"></i></a></li>
                                    <li class="twt"><a href="#"><i class="icofont icofont-social-twitter"></i></a></li>
                                    <li class="skype"><a href="#"><i class="icofont icofont-social-skype"></i></a></li>
                                    <li class="l_in"><a href="#"><i class="icofont icofont-brand-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="copy-right" style="width: 100%">
                <div class="copyright">
                    <h5 class="text-center">Copyright © {{ 'now' | date('Y') }} BelieveCuba</h5>
                </div>
            </div>
        </footer>

        <!-- Move to up -->
        <div class="waves-effect waves-light scrollup scrollup-icon"><i class="icofont icofont-arrow-up "></i></div>

    {% block javascripts %}
        <!-- Required Jqurey -->
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-3.1.1.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jquery-ui.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/tether.min.js') }}"></script>
        <!-- Required Fremwork -->
        <script type="text/javascript" src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
        <!-- Waves effects.js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/waves/js/waves.min.js') }}"></script>
        <!-- Scrollbar JS-->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/slimscroll/js/jquery.slimscroll.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/slimscroll/js/jquery.nicescroll.min.js') }}"></script>
        <!-- List-scroll js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/list-scroll/js/stroll.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/list/js/list.js') }}"></script>
        <!-- Classic JS-->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/search/js/classie.js') }}"></script>
        <!-- Notification -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/notification/js/bootstrap-growl.min.js') }}"></script>
        <!-- Slick JS -->
        <script type="text/javascript" src="{{ asset('bundles/app/js/slick.min.js') }}"></script>
        <!-- Custom js -->
        <script type="text/javascript" src="{{ asset('bundles/app/pages/product-detail.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/pages/elements.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/pages/list-custom.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/jarallax.js') }}"></script>
        <!-- Isotope js What We Do -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/isotope/js/jquery.isotope.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/isotope/js/isotope.pkgd.min.js') }}"></script>
        <!-- Date picker.js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/datepicker/js/moment-with-locales.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/datepicker/js/bootstrap-material-datetimepicker.js') }}"></script>
        <!-- Select 2 js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/select2/js/select2.full.min.js') }}"></script>
        <!-- Max-Length js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/max-length/js/bootstrap-maxlength.js') }}"></script>
        <!-- Switchery js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/switchery/js/switchery.min.js') }}"></script>
        <!-- Multi Select js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/multi-select/js/bootstrap-multiselect.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/multi-select/js/jquery.multi-select.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/multi-select/js/jquery.quicksearch.js') }}"></script>
        <!-- Tags js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/tags/js/bootstrap-tagsinput.js') }}"></script>
        <!-- Bootstrap Datepicker js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/bootstrap-datetimepicker.min.js') }}"></script>
        <!-- Bootstrap range picker -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/bootstrap-datepicker/js/daterangepicker.js') }}"></script>
        <!-- Color picker -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/color-picker/js/spectrum.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/color-picker/js/jscolor.js') }}"></script>
        <!-- Owl carousel 2 js -->
        <script type="text/javascript" src="{{ asset('bundles/app/js/owl.carousel.min.js') }}"></script>
        <!-- Slider -->
        <script type="text/javascript" src="{{ asset('bundles/app/pages/slider.js') }}"></script>
        <!-- Model animation js -->
        <script type="text/javascript" src="{{ asset('bundles/app/plugins/modal/js/modalEffects.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/pages/advance-form.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/main.js') }}"></script>
        <!-- Custom landing page js -->
        <script type="text/javascript" src="{{ asset('bundles/app/pages/landing-page.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/app/js/common-pages.js') }}"></script>
        <script src="{{ asset('bundles/app/js/menu-horizontal.js') }}"></script>
        <script>
            $(window).on('load',function(){
                $('#pre-loader').fadeOut('slow');
            });
        </script>

        <script>/*
            (function () {
                var options = {
                    whatsapp: "+1 702-800-1750", // WhatsApp number
                    email: "sales@arfurnitureonline.com", // Email
                    sms: "+1 702-800-1750", // Sms phone number
                    call: "+1 702-800-1750", // Call phone number
                    company_logo_url: "//static.whatshelp.io/img/flag.png", // URL of company logo (png, jpg, gif)
                    greeting_message: "Hello, how may we help you? Just send us a message now to get assistance.\nHablamos Español", // Text of greeting message
                    call_to_action: "Any Questions let us know", // Call to action
                    button_color: "#FFCF1F", // Color of button
                    position: "right", // Position may be 'right' or 'left'
                    order: "whatsapp,sms,call,email", // Order of buttons
                };
                var proto = document.location.protocol, host = "whatshelp.io", url = proto + "//static." + host;
                var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = url + '/widget-send-button/js/init.js';
                s.onload = function () { WhWidgetSendButton.init(host, proto, options); };
                var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x);
            })();
        */</script>

    {% endblock %}
    </body>
</html>
