{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        {{ form_start(form) }}
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text">Añadir nuevo Grupo</h5>
                </div>
                <div class="card-block menu-snaps">
                    <div class="form-group">
                        <label class="form-control-label">Nombre del grupo</label>
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nombre del grupo'}}) }}
                        <small class="form-text text-muted">Dejar este spam para mensajes de info/error.</small>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label">Descripción del grupo</label>
                        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Descripción del grupo', 'rows': '4'}}) }}
                        <small class="form-text text-muted">Dejar este spam para mensajes de info/error.</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text"></h5>
                </div>
                <div class="card-block menu-snaps">
                    <label class="form-control-label">Módulos del sistema</label>

                    {% for rol in form.roles %}
                    <div class="form-check">
                        <label class="form-check-label">
                            {{ form_widget(rol, {'attr': {'class': 'form-check-input'}}) }}
                            {{ rol.vars.label }}
                        </label>
                    </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-30">Añadir grupo</button>
                    <button type="reset" class="btn btn-default waves-effect waves-light m-r-30">Cancelar</button>
                    <a class="btn btn-default waves-effect waves-light m-r-30" href="{{ path('grupo_index') }}">Volver al listado</a>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}